/.vscode/
/Temp/
/Library/
/obj/
/.vs/
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-UnityScript-Editor.unityproj
/Assembly-CSharp.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-Editor.csproj
*.apk
/Build
*.DS_Store
/unity-ui-extensions.csproj
/UITextEffects.csproj
/StandaloneFileBrowser.csproj
/OrcsEngine.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.PackageManagerUI.Editor.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.AssetBundleBrowser.Editor.csproj
/Unity.Analytics.DataPrivacy.csproj
/com.unity.cinemachine.editor.csproj
/Cinemachine.csproj
/UnityEngine.Monetization.csproj
/UnityEngine.Advertisements.csproj
Logs/
Recordings/
.vsconfig
.gradle
*.csproj
*.sln
Packages/packages-lock.json
*.zip